
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="BitFire Dashboard" />

    <!-- Libs CSS -->
    <!--
    <link rel="stylesheet" href="https://bitfire.co/dash/flatpicker.min.css" />
    <link rel="stylesheet" href="https://bitfire.co/dash/feather.css" />
    <link rel="stylesheet" href="https://bitfire.co/dash/quill.core.css" />
    -->

	<link rel="shortcut icon" href="//www.bitslip6.com/img/shield64.png">
    <link rel="stylesheet" href="https://bitfire.co/dash/vs2015.css" />

    <!-- Theme CSS -->
    <link rel="stylesheet" href="https://bitfire.co/dash/theme.min.css" id="stylesheetLight">
    <link rel="stylesheet" href="https://bitfire.co/dash/theme-dark.min.css" id="stylesheetDark">

    <style>
      body { display: none; }
      .chilabel { color: #333; display: block; width: 140px; float: left; margin-right: 0; padding-right: 0;}
      /*
      .lnum { float: right; }
      */
      .pr1 { margin-top: 20px; }
      .card-body { padding: 0.5rem !important; }

      svg { fill: #977; }
      svg.white { fill: #1657af; }
      
      .country { float: right; display: block; }

      .btn-group-tiny>.btn {
        padding: .075rem .25rem;
        font-size: .4rem;
        line-height: 1.0;
        border-radius: .25rem;
      }
      .dropdown-toggle {
        width: 70px;
      }
      
      .nav-sm .nav-link {
        font-size: .6125rem;
      }

      .navbar-vertical.navbar-expand-md .navbar-nav .nav .nav-link {
        padding-left: .5rem;
        padding-right: 0rem;
      }
      
      /*
      ul.navbar-nav li.nav-item ul.nav li.nav-item { margin-bottom: -30px; }
      */
      .dropdown-menu { margin-top: -20px; }
      .chilabel { margin-left: 1rem; }
      
      thead.details th, th { font-size: 12px; }
      
      .popover { max-width: 30rem; }
      .underline { text-decoration: underline; margin-bottom: 1rem; }

    </style>
    
    <!-- Title -->
    <title>BitFire : Control Panel</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js" type="text/javascript"></script>
    <script>
        window.ERROR = [];

        function cc_to_flag(cc) {
          if (cc.length != 2) { return ""; }
          const OFFSET = 127397;
          const codePoints = [...cc.toUpperCase()].map(c => c.codePointAt() + OFFSET);
          return String.fromCodePoint(...codePoints);
        }

        
        const min_reducer = (accumulator, currentValue) => accumulator < currentValue ? accumulator : currentValue;
        const max_reducer = (accumulator, currentValue) => accumulator >= currentValue ? accumulator : currentValue;
        
        function clamp(input, min, max) { return Math.min(Math.max(input, min), max); }

        function min(numbers) { return numbers.reduce(min_reducer); }
        function max(numbers) { return numbers.reduce(max_reducer); }
        function avg(numbers) { return numbers.reduce((a, b) => (a + b)) / numbers.length; }

        function toggle(elm, type) {
          var e = GBI(elm);
          e.innerText = type;
          if (type == "block" || type == "on") {
            e.classList.remove("btn-warning");
            e.classList.remove("btn-secondary");
            e.classList.add("btn-success");
          } else if (type == "report" || type == "alert") {
            e.classList.remove("btn-success");
            e.classList.remove("btn-secondary");
            e.classList.add("btn-warning");
          } else {
            e.classList.remove("btn-success");
            e.classList.remove("btn-warning");
            e.classList.add("btn-secondary");
          }
        }

        function mode(numbers) {
            // as result can be bimodal or multi-modal,
            // the returned result is provided as an array
            // mode of [3, 5, 4, 4, 1, 1, 2, 3] = [1, 3, 4]
            var modes = [], count = [], i, number, maxIndex = 0;
         
            for (i = 0; i < numbers.length; i += 1) {
                number = numbers[i];
                count[number] = (count[number] || 0) + 1;
                if (count[number] > maxIndex) {
                    maxIndex = count[number];
                }
            }
         
            for (i in count)
                if (count.hasOwnProperty(i)) {
                    if (count[i] === maxIndex) {
                        modes.push(Number(i));
                    }
                }
         
            return modes.pop();
        }


        function software_change() {
          var ver = GBI("software_ver").value;
          fetch("/upgrade/software/"+ver)
              .then(response => response.json())
              .then(data => { 
                add_info("primary", "software upgrade: " + data.status);
              }).catch((error) => { console.log("software change error!", error); });
        }
        
       
        /**
         * @param string type  primary, secondary, success, danger, warning, info
         * @param string message a value with the error content (can include HTML markup)
         */
        function add_info(type, message) {
          let msg = {"type": type, "message": message};
          if (window.ERROR.length > 5) {
              window.ERROR.pop();
          }
          window.ERROR.unshift(msg);
          

          GBI("error").innerHTML = window.ERROR.reduce((accumulator, value) =>
          accumulator + "<div class='alert alert-"+value.type+"' role='alert'>" + value.message + "</div>", '');
        }

        

        function load_temp() {
            fetch("/temp/setting")
                .then(response => response.json())
                .then(data => {
                    GBI("cputemp").innerHTML = data.cputemp.toFixed(1) + "&#176;";
                    GBI("vixeltemp").innerHTML = (Math.round(data.vixeltemp*10)/10) + "&#176;";
                }).catch((error) => {
                  add_info("danger", "error reading temperature data");
                });

            window.setTimeout(load_temp, 4000);
        }
        
        function GBI(name) { return document.getElementById(name); }
        function avg_click(e) {
            window.CHITON_AVG = !window.CHITON_AVG;
        }

    </script>
  </head>

  <body>


    <!-- NAVIGATION
    ================================================== -->
    
    
    <nav class="navbar navbar-vertical fixed-left navbar-expand-md " id="sidebar">
      <div class="container-fluid">

        <!-- Toggler -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#sidebarCollapse" aria-controls="sidebarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Brand -->
        <a class="navbar-brand" href="/bitfire">
          <img src="https://bitslip6.com/img/shield.png" class="navbar-brand-img mx-auto" alt="...">
        </a>
 
        <span class="chilabel underline">24 Hour Totals</span>

        <!-- Collapse -->
        <div class="collapse navbar-collapse" id="sidebarCollapse">

          <!-- Navigation -->
          <ul class="navbar-nav">
            <li class="nav-item">
                <span class="chilabel left">
                  <svg viewBox="0 0 24 24" fill="black" width="24px" height="24px"><path d="M0 0h24v24H0z" fill="none"/><path d="M1 21h22L12 2 1 21zm12-3h-2v-2h2v2zm0-4h-2v-4h2v4z"/></svg>
                  Alerts: </span> <span class="lnum" id="alerts"><?php echo $report_count; ?></span>
            </li>
            <li class="nav-item">
                <span class="chilabel">
                  <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"><path d="M0 0h24v24H0z" fill="none"/><path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zM4 12c0-4.42 3.58-8 8-8 1.85 0 3.55.63 4.9 1.69L5.69 16.9C4.63 15.55 4 13.85 4 12zm8 8c-1.85 0-3.55-.63-4.9-1.69L18.31 7.1C19.37 8.45 20 10.15 20 12c0 4.42-3.58 8-8 8z"/></svg>
                  Blocks: </span> <span class="lnum" id="blocks">-</span>
            </li>
            <li class="nav-item">
                <span class="chilabel">
                  <svg xmlns="http://www.w3.org/20 00/svg" enable-background="new 0 0 24 24" height="24" viewBox="0 0 24 24" width="24"><g><rect fill="none" height="24" width="24"/></g><g><g><path d="M17,11c0.34,0,0.67,0.04,1,0.09V6.27L10.5,3L3,6.27v4.91c0,4.54,3.2,8.79,7.5,9.82c0.55-0.13,1.08-0.32,1.6-0.55 C11.41,19.47,11,18.28,11,17C11,13.69,13.69,11,17,11z"/><path d="M17,13c-2.21,0-4,1.79-4,4c0,2.21,1.79,4,4,4s4-1.79,4-4C21,14.79,19.21,13,17,13z M17,14.38c0.62,0,1.12,0.51,1.12,1.12 s-0.51,1.12-1.12,1.12s-1.12-0.51-1.12-1.12S16.38,14.38,17,14.38z M17,19.75c-0.93,0-1.74-0.46-2.24-1.17 c0.05-0.72,1.51-1.08,2.24-1.08s2.19,0.36,2.24,1.08C18.74,19.29,17.93,19.75,17,19.75z"/></g></g></svg>
                  Check: </span> <span class="lnum" id="send"><?php echo $send; ?></span>
            </li>
            <li class="nav-item">
                <span class="chilabel">
                  <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"><path d="M0 0h24v24H0z" fill="none" fill-rule="evenodd"/><g fill-rule="evenodd"><path d="M9 17l3-2.94c-.39-.04-.68-.06-1-.06-2.67 0-8 1.34-8 4v2h9l-3-3zm2-5c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4"/><path d="M15.47 20.5L12 17l1.4-1.41 2.07 2.08 5.13-5.17 1.4 1.41z"/></g></svg>
                  Pass: </span> <span class="lnum" id="send"><?php echo $good; ?></span>
            </li>


          </ul>
          <br />

          <!-- Divider -->
          <hr class="navbar-divider my-3">

          <!-- Heading -->
          <h6 class="navbar-heading">
            Settings
          </h6>

          <!-- Navigation -->
          <ul class="navbar-nav mb-md-4">

            
            <li class="nav-item">
              <a class="nav-link" href="#sidebarWebFilter" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="sidebarWebFilter">
                <!--
                <svg data-name="tune" height="24" viewBox="0 0 24 24" width="24"><path d="M0 0h24v24H0z" fill="none"/><path d="M3 17v2h6v-2H3zM3 5v2h10V5H3zm10 16v-2h8v-2h-8v-2h-2v6h2zM7 9v2H3v2h4v2h2V9H7zm14 4v-2H11v2h10zm-6-4h2V7h4V5h-4V3h-2v6z"/></svg>
                -->
                <svg height="24" viewBox="0 0 24 24" width="24"><path d="M4.5 11h-2V9H1v6h1.5v-2.5h2V15H6V9H4.5v2zm2.5-.5h1.5V15H10v-4.5h1.5V9H7v1.5zm5.5 0H14V15h1.5v-4.5H17V9h-4.5v1.5zm9-1.5H18v6h1.5v-2h2c.8 0 1.5-.7 1.5-1.5v-1c0-.8-.7-1.5-1.5-1.5zm0 2.5h-2v-1h2v1z"/><path d="M24 24H0V0h24v24z" fill="none"/></svg>
                &nbsp;Web 
                &nbsp;<span style="color:#999;font-size:12px;"> ( 7 ) </span>
              </a>
              <div class="collapse " id="sidebarWebFilter">
                <ul class="nav nav-sm flex-column">
                  
                  <li class="nav-item ">
                    <span href="#" class="nav-link chilabel" style="float: left;">
                      Security Headers
                    </span>

                    <div class="btn-group-sm" role="group">
                      <button id="security_headers" type="button" disabled class="btn feature btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <?php echo $config['security_headers_enabled']; ?> </button>
                      <div class="dropdown-menu">
                        <a class="dropdown-item" href="#" onclick="toggle('security_headers', 'alert')">Alert</a>
                        <a class="dropdown-item" href="#" onclick="toggle('security_headers', 'block')">Block</a>
                        <a class="dropdown-item" href="#" onclick="toggle('security_headers', 'off')">Off</a>
                      </div>
                    </div>
                  </li>

                  <li class="nav-item ">
                    <span href="#" class="nav-link chilabel" style="float: left;">
                      Force SSL
                    </span>
                    <div class="btn-group-sm" role="group">
                      <button id="force_ssl" type="button" disabled class="btn feature btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><?php echo $config['enforce_ssl_1year']; ?></button>
                      <div class="dropdown-menu">
                        <a class="dropdown-item" href="#" onclick="toggle('force_ssl', 'alert')">Alert</a>
                        <a class="dropdown-item" href="#" onclick="toggle('force_ssl', 'block')">Block</a>
                        <a class="dropdown-item" href="#" onclick="toggle('force_ssl', 'off')">Off</a>
                      </div>
                    </div>
                  </li>

                  <li class="nav-item ">
                    <span href="#" class="nav-link chilabel" style="float: left;">
                      Spam Filter
                    </span>
                    <div class="btn-group-sm" role="group">
                      <button id="spam_filter" type="button" disabled class="btn feature btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><?php echo $config['spam_filter_enabled']; ?></button>
                      <div class="dropdown-menu">
                        <a class="dropdown-item" href="#" onclick="toggle('spam_filter', 'alert')">Alert</a>
                        <a class="dropdown-item" href="#" onclick="toggle('spam_filter', 'block')">Block</a>
                        <a class="dropdown-item" href="#" onclick="toggle('spam_filter', 'off')">Off</a>
                      </div>
                    </div>

                  </li>
                  <li class="nav-item ">
                    <span href="#" class="nav-link chilabel" style="float: left;">
                      XSS Filter
                    </span>
                    <div class="btn-group-sm" role="group">
                      <button id="xss_block" type="button" disabled class="btn feature btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><?php echo $config['xss_block']; ?></button>
                      <div class="dropdown-menu">
                        <a class="dropdown-item" href="#" onclick="toggle('xss_block', 'alert')">Alert</a>
                        <a class="dropdown-item" href="#" onclick="toggle('xss_block', 'block')">Block</a>
                        <a class="dropdown-item" href="#" onclick="toggle('xss_block', 'off')">Off</a>
                      </div>
                    </div>

                  </li>
                  <li class="nav-item ">
                    <span href="#" class="nav-link chilabel" style="float: left;">
                      SQL Filter
                    </span>
                    <div class="btn-group-sm" role="group">
                      <button id="sql_block" type="button" disabled class="btn feature btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><?php echo $config['sql_block']; ?></button>
                      <div class="dropdown-menu">
                        <a class="dropdown-item" href="#" onclick="toggle('sql_block', 'alert')">Alert</a>
                        <a class="dropdown-item" href="#" onclick="toggle('sql_block', 'block')">Block</a>
                        <a class="dropdown-item" href="#" onclick="toggle('sql_block', 'off')">Off</a>
                      </div>
                    </div>

                  </li>
                  <li class="nav-item ">
                    <span href="#" class="nav-link chilabel" style="float: left;">
                      Web Filter
                    </span>
                    <div class="btn-group-sm" role="group">
                      <button id="web_block" type="button" disabled class="btn feature btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><?php echo $config['web_block']; ?></button>
                      <div class="dropdown-menu">
                        <a class="dropdown-item" href="#" onclick="toggle('web_block', 'alert')">Alert</a>
                        <a class="dropdown-item" href="#" onclick="toggle('web_block', 'block')">Block</a>
                        <a class="dropdown-item" href="#" onclick="toggle('web_block', 'off')">Off</a>
                      </div>
                    </div>

                  </li>
                  <li class="nav-item ">
                    <span href="#" class="nav-link chilabel" style="float: left;">
                      Upload Filter
                    </span>
                    <div class="btn-group-sm" role="group">
                      <button id="file_block" type="button" disabled class="btn feature btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><?php echo $config['file_block']; ?></button>
                      <div class="dropdown-menu">
                        <a class="dropdown-item" href="#" onclick="toggle('file_block', 'alert')">Alert</a>
                        <a class="dropdown-item" href="#" onclick="toggle('file_block', 'block')">Block</a>
                        <a class="dropdown-item" href="#" onclick="toggle('file_block', 'off')">Off</a>
                      </div>
                    </div>

                  </li>

                </ul>
              </div>
            </li>
            

            <li class="nav-item">
              <a class="nav-link" href="#sidebarBots" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="sidebarBots">
                <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"><path d="M0 0h24v24H0z" fill="none"/><path d="M19.35 10.04C18.67 6.59 15.64 4 12 4 9.11 4 6.6 5.64 5.35 8.04 2.34 8.36 0 10.91 0 14c0 3.31 2.69 6 6 6h13c2.76 0 5-2.24 5-5 0-2.64-2.05-4.78-4.65-4.96zM10 17l-3.5-3.5 1.41-1.41L10 14.17 15.18 9l1.41 1.41L10 17z"/></svg>
                &nbsp;Bots
                &nbsp;<span style="color:#999;font-size:12px;"> ( 2 ) </span>
              </a>
              <div class="collapse " id="sidebarBots">
                <ul class="nav nav-sm flex-column">
                  <li class="nav-item ">
                    <span href="#" class="nav-link chilabel" style="float: left;">
                      Allow IP Block
                    </span>

                    <div class="btn-group-sm" role="group">
                      <button id="allow_ip_block" disabled type="button" class="btn feature btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <?php echo $config['allow_ip_block']; ?> </button>
                      <div class="dropdown-menu">
                        <a class="dropdown-item" href="#" onclick="toggle('allow_ip_block', 'on')">On</a>
                        <a class="dropdown-item" href="#" onclick="toggle('allow_ip_block', 'off')">Off</a>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
             


            <li class="nav-item">
              <a class="nav-link" href="#sidebarSettings" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="sidebarSettings">
                <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"><path d="M0 0h24v24H0z" fill="none"/><path d="M12 10c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm7-7H5c-1.11 0-2 .9-2 2v14c0 1.1.89 2 2 2h14c1.11 0 2-.9 2-2V5c0-1.1-.89-2-2-2zm-1.75 9c0 .23-.02.46-.05.68l1.48 1.16c.13.11.17.3.08.45l-1.4 2.42c-.09.15-.27.21-.43.15l-1.74-.7c-.36.28-.76.51-1.18.69l-.26 1.85c-.03.17-.18.3-.35.3h-2.8c-.17 0-.32-.13-.35-.29l-.26-1.85c-.43-.18-.82-.41-1.18-.69l-1.74.7c-.16.06-.34 0-.43-.15l-1.4-2.42c-.09-.15-.05-.34.08-.45l1.48-1.16c-.03-.23-.05-.46-.05-.69 0-.23.02-.46.05-.68l-1.48-1.16c-.13-.11-.17-.3-.08-.45l1.4-2.42c.09-.15.27-.21.43-.15l1.74.7c.36-.28.76-.51 1.18-.69l.26-1.85c.03-.17.18-.3.35-.3h2.8c.17 0 .32.13.35.29l.26 1.85c.43.18.82.41 1.18.69l1.74-.7c.16-.06.34 0 .43.15l1.4 2.42c.09.15.05.34-.08.45l-1.48 1.16c.03.23.05.46.05.69z"/></svg>
                &nbsp;Settings
                &nbsp;<span style="color:#999;font-size:12px;"> ( 2 ) </span>
              </a>
              <div class="collapse " id="sidebarSettings">
                <ul class="nav nav-sm flex-column">
                  <li class="nav-item ">
                    <span href="#" class="nav-link chilabel" style="float: left;">
                      Allow IP Block
                    </span>

                    <div class="btn-group-sm" role="group">
                      <button id="allow_ip_block" disabled type="button" disabled class="btn feature btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <?php echo $config['allow_ip_block']; ?> </button>
                      <div class="dropdown-menu">
                        <a class="dropdown-item" href="#" onclick="toggle('allow_ip_block', 'on')">On</a>
                        <a class="dropdown-item" href="#" onclick="toggle('allow_ip_block', 'off')">Off</a>
                      </div>
                    </div>
                  </li>
                  
                  <li class="nav-item ">
                    <span href="#" class="nav-link chilabel" style="float: left;">
                      Cache Type
                    </span>

                    <div class="btn-group-sm" role="group">
                      <button id="allow_ip_block" disabled type="button" class="btn feature btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <?php echo $config['allow_ip_block']; ?> </button>
                      <div class="dropdown-menu">
                        <a class="dropdown-item" href="#" onclick="toggle('cache_type', 'shmop')">Shmop</a>
                        <a class="dropdown-item" href="#" onclick="toggle('cache_type', 'apcu')">APCu</a>
                        <a class="dropdown-item" href="#" onclick="toggle('cache_type', 'shm')">SHM</a>
                        <a class="dropdown-item" href="#" onclick="toggle('cache_type', 'nop')">NOP</a>
                      </div>
                    </div>
                  </li>

                  <li class="nav-item ">
                    <span href="#" class="nav-link chilabel" style="float: left;">
                      Response Code
                    </span>

                    <div class="btn-group-sm" role="group">
                      <button id="allow_ip_block" disabled type="button" class="btn feature btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <?php echo $config['allow_ip_block']; ?> </button>
                      <div class="dropdown-menu">
                        <a class="dropdown-item" href="#" onclick="toggle('response_code', 200)">200</a>
                        <a class="dropdown-item" href="#" onclick="toggle('response_code', 204)">204</a>
                        <a class="dropdown-item" href="#" onclick="toggle('response_code', 400)">400</a>
                        <a class="dropdown-item" href="#" onclick="toggle('response_code', 401)">401</a>
                        <a class="dropdown-item" href="#" onclick="toggle('response_code', 403)">403</a>
                        <a class="dropdown-item" href="#" onclick="toggle('response_code', 404)">404</a>
                        <a class="dropdown-item" href="#" onclick="toggle('response_code', 406)">406</a>
                        <a class="dropdown-item" href="#" onclick="toggle('response_code', 500)">500</a>
                      </div>
                    </div>
                  </li>


                </ul>
              </div>
            </li>
          </ul>
          <br />
          <br />
          <br />
          <!-- Push content down -->
          <div class="mt-auto"></div>

          
          <!-- Customize -->
          <!--
          <div id="popoverDemo" data-toggle="popover" data-trigger="manual" title="Make Dashkit Your Own!" data-content="Switch the demo to Dark Mode or adjust the navigation layout, icons, and colors!">
            <a href="#modalDemo" class="btn btn-block btn-success mb-4" data-toggle="modal">
              <i class="fe fe-sliders mr-2"></i> Customize
            </a>
          </div>
        -->

         
        </div> <!-- / .navbar-collapse -->

      </div>
    </nav>

    
    
    <nav class="navbar navbar-vertical navbar-vertical-sm fixed-left navbar-expand-md " id="sidebarSmall">
      <div class="container-fluid">

        <!-- Toggler -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#sidebarSmallCollapse" aria-controls="sidebarSmallCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Brand -->
        <a class="navbar-brand" href="/bitfire">
          <img src="https://bitslip6.com/img/shield.png" class="navbar-brand-img mx-auto" alt="...">
        </a>

        <!-- Collapse -->
        <div class="collapse navbar-collapse" id="sidebarSmallCollapse">

          <!-- Form -->
          <form class="mt-4 mb-3 d-md-none">
            <div class="input-group input-group-rounded input-group-merge">
              <input type="search" class="form-control form-control-rounded form-control-prepended" placeholder="Search" aria-label="Search">
              <div class="input-group-prepend">
                <div class="input-group-text">
                  <span class="fe fe-search"></span>
                </div>
              </div>
            </div>
          </form>

          <!-- Divider -->
          <hr class="navbar-divider d-none d-md-block mt-0 mb-3">

          <!-- Navigation -->
          <ul class="navbar-nav">
            <li class="nav-item dropright">
              <a class="nav-link dropdown-toggle active" id="sidebarSmallDashboards" href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" title="X/Y Cursor Position">
                <i class="fe fe-home"></i> <span class="d-md-none">X/Y : </span> <span id="cross"></span>
              </a>
            </li>

            <li class="nav-item dropright">
              <a class="nav-link dropdown-toggle active" id="sidebarSmallDashboards" href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" title="FPS">
                <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M15 1H9v2h6V1zm4.03 6.39l1.42-1.42c-.43-.51-.9-.99-1.41-1.41l-1.42 1.42C16.07 4.74 14.12 4 12 4c-4.97 0-9 4.03-9 9s4.02 9 9 9 9-4.03 9-9c0-2.12-.74-4.07-1.97-5.61zM12 20c-3.87 0-7-3.13-7-7s3.13-7 7-7 7 3.13 7 7-3.13 7-7 7zm-.32-5H6.35c.57 1.62 1.82 2.92 3.41 3.56l-.11-.06 2.03-3.5zm5.97-4c-.57-1.6-1.78-2.89-3.34-3.54L12.26 11h5.39zm-7.04 7.83c.45.11.91.17 1.39.17 1.34 0 2.57-.45 3.57-1.19l-2.11-3.9-2.85 4.92zM7.55 8.99C6.59 10.05 6 11.46 6 13c0 .34.04.67.09 1h4.72L7.55 8.99zm8.79 8.14C17.37 16.06 18 14.6 18 13c0-.34-.04-.67-.09-1h-4.34l2.77 5.13zm-3.01-9.98C12.9 7.06 12.46 7 12 7c-1.4 0-2.69.49-3.71 1.29l2.32 3.56 2.72-4.7z"/></svg>
                <span class="d-md-none">FPS3 : </span> <span id="fps"></span>
              </a>
            </li>
          </ul>

          <!-- Divider -->
          <hr class="navbar-divider my-3">

          <!-- Navigation -->
          <ul class="navbar-nav mb-md-4">
            <li class="nav-item dropright">
              <a class="nav-link dropdown-toggle " id="sidebarSmallBasics" href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" title="Basics">
                <i class="fe fe-clipboard"></i> <span class="d-md-none">Basics</span>
              </a>
              <ul class="dropdown-menu" aria-labelledby="sidebarSmallBasics">
                <li class="dropdown-header d-none d-md-block">
                  <h6 class="text-uppercase mb-0">Basics</h6>
                </li>
                <li>
                  <a href="./docs/getting-started.html" class="dropdown-item ">
                    Getting Started
                  </a>
                </li>
                <li>
                  <a href="./docs/design-file.html" class="dropdown-item ">
                    Design File
                  </a>
                </li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link " href="./docs/components.html" data-toggle="tooltip" data-placement="right" data-template='<div class="tooltip d-none d-md-block" role="tooltip"><div class="arrow"></div><div class="tooltip-inner"></div></div>' title="Components">
                <i class="fe fe-book-open"></i> <span class="d-md-none">Components</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link " href="./docs/changelog.html" data-toggle="tooltip" data-placement="right" data-template='<div class="tooltip d-none d-md-block" role="tooltip"><div class="arrow"></div><div class="tooltip-inner"></div></div>' title="Changelog">
                <i class="fe fe-git-branch"></i> <span class="d-md-none">Changelog</span> <span class="badge badge-primary ml-auto d-md-none">v1.6.1</span>
              </a>
            </li>
          </ul>

          <!-- Push content down -->
          <div class="mt-auto"></div>

          
          <!-- Customize -->
          <div class="mb-4" data-toggle="tooltip" data-placement="right" data-template='<div class="tooltip d-none d-md-block" role="tooltip"><div class="arrow"></div><div class="tooltip-inner"></div></div>' title="Customize">
            <a href="#modalDemo" class="btn btn-block btn-success" data-toggle="modal">
              <i class="fe fe-sliders"></i> <span class="d-md-none ml-2">Customize</span>
            </a>
          </div>
          

          
          <!-- User (md) -->
          <div class="navbar-user d-none d-md-flex flex-column" id="sidebarSmallUser">

            <!-- Icon -->
            <a href="#sidebarModalSearch" class="navbar-user-link mb-3" data-toggle="modal">
              <span class="icon">
                <i class="fe fe-search"></i>
              </span>
            </a>

            <!-- Icon -->
            <a href="#sidebarModalActivity" class="navbar-user-link mb-3" data-toggle="modal">
              <span class="icon">
                <i class="fe fe-bell"></i>
              </span>
            </a>

            <!-- Dropup -->
            <div class="dropright">

              <!-- Toggle -->
              <a href="#" id="sidebarSmallIconCopy" class="dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <div class="avatar avatar-sm avatar-online">
                  <!--
                  <img src="avatar.jpg" class="avatar-img rounded-circle" alt="...">
                  -->
                </div>
              </a>

              <!-- Menu -->
              <div class="dropdown-menu" aria-labelledby="sidebarSmallIconCopy">
                <a href="./profile-posts.html" class="dropdown-item">Profile</a>
                <a href="./account-general.html" class="dropdown-item">Settings</a>
                <hr class="dropdown-divider">
                <a href="./sign-in.html" class="dropdown-item">Logout</a>
              </div>

            </div>

          </div>
          

        </div> <!-- / .navbar-collapse -->

      </div>
    </nav>

    

    <!-- MAIN CONTENT
    ================================================== -->
    <div class="main-content">
      

      <!-- HEADER -->
      <div class="header">
        <div class="container-fluid">

          <!-- Body -->
          <div class="header-body">
            <div class="row align-items-end">
              <div class="col">

                <!-- Pretitle -->
                <h6 class="header-pretitle">
                  BitFire non-commercial: Release 1.2.3
                </h6>
                <p style="font-size:.75rem;color:#666;">BitFire non-commercial is free to use for non commercial websites. 
                BitFirePro is licensed for commercial use and includes cash back guarantee if your site is compromised.</p>

                <!-- Title -->
                <h1 class="header-title">
                  BitFire Dashboard
                </h1>

              </div>
              <div class="col-auto">

                <!-- Button -->

                <a href="#!" class="btn btn-success lift" id="dwn_link">Go Pro</a>

              </div>
            </div> <!-- / .row -->
          </div> <!-- / .header-body -->

        </div>
      </div> <!-- / .header -->

      <!-- CARDS -->
      <div class="container-fluid">
        <div class="row">
          <div class="col-12 col-lg-4">
            <div class="card card-fill">
              <div class="card-header">
                <h4>24 Hour Blocks By Type
                <span class="text-secondary" id="block_total">()</span>
                </h4>
              </div>
              <div class="card-body">


                <div class="chart chart-appended">
                  <canvas class="chart-canvas" id="classChart" data-toggle="legend" data-target="#classChartLegend"></canvas>
                </div>
                <!--
                <div class="chart-legend" id="classChartLegend"></div>
                -->

              </div>
            </div>
          </div>
          
          <div class="col-12 col-lg-4">
            <div class="card card-fill">
              <div class="card-header">
                <h4>24 Hour Blocks By IP
                <span class="text-secondary" id="ip_total">()</span>
                </h4>
              </div>
              <div class="card-body">

                <div class="chart chart-appended">
                  <canvas class="chart-canvas" id="classChart2" data-toggle="legend" data-target="#classChart2Legend"></canvas>
                </div>
                <!--
                <div class="chart-legend" id="classChart2Legend"></div>
                -->

              </div>
            </div>
          </div>

          
          <div class="col-12 col-lg-4">
            <div class="card card-fill">
              <div class="card-header">
                <h4>Blocking By Hour
                <span class="text-secondary" id="block_sum_total">()</span>
                </h4>
              </div>
              <div class="card-body">
                <div class="chart">
                  <canvas class="chart-canvas" id="hrChart"></canvas>
                </div>
              </div>
            </div>
          </div>
        </div>


        <div class="row">
          <div class="col-12 col-lg-12">
            <div class="card card-fill">
              <div class="card-header">
                <h4>Alerts</h4>
              </div>
              <div class="card-body">

       
<table class="table table-sm table-nowrap">
  <thead class="details">
    <tr>
      <th scope="col">Time</th>
      <th scope="col">IP</th>
      <th scope="col">Browser</th>
      <th scope="col">Code</th>
      <th scope="col">Param</th>
      <th scope="col">Value</th>
      <th scope="col">Pattern</th>
      <th scope="col">Meta</th>
    </tr>
  </thead>
  <tbody style="font-size:10px;">
    <?php foreach ($reporting as $line) { ?>
    <tr>
      <td scope="row"><?php echo date('M d, H:i:s', strtotime($line['time']))?></td>
      <td><?php echo ($line['ip'] ?? '-') . " <span class=\"country\">" . $line['country']; ?></span></td>
      <td><?php echo $line['browser']['browser'] . "/". join('.', array_slice(explode('.', $line['browser']['ver']), 0, 2)) ?></td>
      <td><?php echo $line['block']['code']?></td>
      <td><?php echo htmlspecialchars($line['block']['parameter'])?></td>
      <td><?php echo htmlspecialchars($line['block']['value'])?></td>
      <td><?php echo htmlspecialchars($line['block']['pattern'])?></td>
      <td><?php echo \BitFire\to_meta($line); ?></td>
    </tr>
    <?php } ?>
  </tbody>
</table>
              </div>
            </div>
          </div>
      </div>
      
      <div class="row">
           <div class="col-12 col-lg-12">
            <div class="card card-fill">
              <div class="card-header">
                <h4>Blocks</h4>
              </div>
              <div class="card-body">

       
<table class="table table-sm table-nowrap">
  <thead class="details">
    <tr>
      <th scope="col">Time</th>
      <th scope="col">IP</th>
      <th scope="col">Browser</th>
      <th scope="col">Code</th>
      <th scope="col">Param</th>
      <th scope="col">Value</th>
      <th scope="col">Pattern</th>
    </tr>
  </thead>
  <tbody style="font-size:10px;">
    <?php 
    //\TF\dbg($blocks);
    require_once WAF_DIR."botfilter.php";
    $idx = 0;
    if (isset($blocks[0])) { foreach ($blocks as $line) { $line['country'] = 'US'; ?>
    <tr>
      <td scope="row"><?php echo date('M d, H:i:s', strtotime($line['tv']))?></td>
      <td><?php echo $line['ip'] . " <span class=\"country {$line['country']}\">" . $line['country']; ?></span></td>
      <td><?php 
        $tmp = BitFireBot\parse_agent($line['ua']);
        echo $tmp['browser'] . "/". join('.', array_slice(explode('.', $line['browser']['ver']), 0, 2)) ?></td>
      <td>
        <a tabindex="<?php echo $idx++;?>" role="button" class="btn btn-sm btn-danger" 
        data-toggle="popover"
        data-placement="top"
        data-trigger="focus"
        title="Details"
        data-content="<?php echo htmlspecialchars(str_replace('"', "'", json_encode($line, JSON_UNESCAPED_SLASHES|JSON_PRETTY_PRINT))); ?>"><?php echo $line['eventId'] ?? '00000'; ?></a>
        </td>

      <td><?php echo htmlspecialchars($line['item'])?></td>
      <td><?php echo htmlspecialchars($line['match'])?></td>
      <td><?php echo htmlspecialchars($line['name'])?></td>
    </tr>
    <?php } } ?>
  </tbody>
</table>
              </div>
            </div>
          </div>

      </div>




    </div><!-- / .main-content -->

    <!-- JAVASCRIPT
    ================================================== -->
    <!-- Libs JS -->
    <script src="https://bitfire.co/dash/bootstrap.bundle.min.js"></script>
    <script src="https://bitfire.co/dash/chart.min.js"></script>
    <!--
    <script src="https://bitfire.co/dash/flatpicker.min.js"></script>
    <script src="https://bitfire.co/dash/dropzone.min.js"></script>
    <script src="https://bitfire.co/dash/autosize.min.js"></script>
    <script src="https://bitfire.co/dash/highlight.pack.min.js"></script>
    <script src="https://bitfire.co/dash/quill.min.js"></script>
    -->
    <script src="https://bitfire.co/dash/jquery.mask.min.js"></script>
    <script src="https://bitfire.co/dash/list.min.js"></script>
    <script src="https://bitfire.co/dash/select2.min.js"></script>
    <script src="https://bitfire.co/dash/Chart.extension.js"></script>

    <script>
      
      function show_bars(chart_id, hr_set) {
        let total = 0;
        for(var d in hr_set) {
          //console.log(hr_set[d]);
          total += hr_set[d];
        }
        GBI("block_sum_total").innerText = "(" + total + ")";
        
        //console.log(hr_set);
        new Chart(chart_id, {
    type: 'bar',
    options: {
      scales: {
        yAxes: [{
          ticks: {
            callback: function(value) {
              return value;
            }
          }
        }]
      }
    },
    data: {
      labels: [...Array(24).keys()],
      datasets: [{
        label: 'Block per Hour',
        data: hr_set,
        backgroundColor: ['#56E2CF', '#56AEE2', '#5668E2', '#8A56E1', '#CF56E2', '#E256AE', '#E25668', '#E28956', '#E2CF56', '#AEE256', '#68E256', '#56E289']
      }]
    }
  });
      }

      
      
      function show_pie(id, data, label_fn) {
        //console.log("show pie", id, data.counts);
        console.log(Chart.defaults.doughnut);
        
        //data.counts.sort((a, b) => { console.log(a, b); return 1; });


        let data_labels = [];
        let data_per = [];
        for (const [key, value] of Object.entries(data.counts)) {
          data_labels.push(label_fn(key, value));
          data_per.push(value);
        }
        
        var opts = {
          type: 'doughnut',
          options: {
            legend: {
              display: true,
              position: 'bottom',
              boxWidth: 10,
              padding: 5,
              usePointStyle: true,
              labels: {
                fontSize: 9,
                padding: 5,
                boxWidth: 15
              }
            },
            tooltips: {
              callbacks: {
                afterLabel: function() {
                  return ''
                }
              }
            },
            weight: true,
            cutoutPercentage: 80, 
            defaultFontSize: 15,
            defaultLineHeight: .6
          },
          data: {
            labels: data_labels,
            datasets: [{
              data: data_per,
              backgroundColor: ['#56E2CF', '#56AEE2', '#5668E2', '#8A56E1', '#CF56E2', '#E256AE', '#E25668', '#E28956', '#E2CF56', '#AEE256', '#68E256', '#56E289']
            }]
          }
        };
       
        console.log(opts);

        new Chart(id, opts);
       

            }


      var codex = {
        10000: "XSS",
        11000: "XXE",
        12000: "RCE",
        13000: "format",
        14000: "SQLi",
        15000: "LFI",
        16000: "web shell",
        17000: "dot dot",
        18000: "spam",
        20000: "wrong domain",
        21000: "file upload",
        22000: "general web",
        23000: "wrong domain",
        24000: "bot whitelist",
        25000: "bad agent",
        26000: "request rate",
        70000: "malware"
      };

      function label_type(key, value) { return codex[key]; }
      function label_value(key, value) { return key; }

      //show_pie("classChart", {"percent": [50, 50], "counts": [100, 100]});

      const request = async () => {
        const response1 = await fetch('/bitfire?BITFIRE_API=get_block_types&_secret=<?php echo \Bitfire\Config::str("secret");?>');
        const response2 = await fetch('/bitfire?BITFIRE_API=get_hr_data&_secret=<?php echo \Bitfire\Config::str("secret");?>');
        const response3 = await fetch('/bitfire?BITFIRE_API=get_ip_data&_secret=<?php echo \Bitfire\Config::str("secret");?>');
        const data1 = await response1.json();
        const data2 = await response2.json();
        const data3 = await response3.json();

        show_pie('classChart', data1, label_type);
        GBI("block_total").innerText = "(" + data1.total + ")";
        GBI("blocks").innerText = data1.total;
        show_pie('classChart2', data3, label_value);
        show_bars('hrChart', data2);
        
        window.setTimeout(function() {
          let scr = document.createElement('script');
          scr.setAttribute('src','https://bitfire.co/dash/theme.min.js');
          document.body.appendChild(scr);
        }, 100);
      }
      request();

      function toggle_features() {
        var elms = document.getElementsByClassName("feature");

        for (let element of elms) {
          if (element.innerText.trim() == "report" || element.innerText.trim() == "alert") {
            element.classList.remove("btn-success");
            element.classList.remove("btn-secondary");
            element.classList.add("btn-warning");
          } else if (element.innerText.trim() == "block") {
            element.classList.remove("btn-warning");
            element.classList.remove("btn-secondary");
            element.classList.add("btn-success");
          } else {
            element.classList.remove("btn-success");
            element.classList.remove("btn-warning");
            element.classList.add("btn-secondary");
          }
        }

      }
      toggle_features();

      var elms = document.getElementsByClassName("country");
      for (let element of elms) {
        let t = element.innerText;
        element.innerHTML = "["+t+"]" + cc_to_flag(t);
      }
     
/*
      //.then(response => response.json())
      //.then(data => show_pie('classChart', data));
      */

    </script>

    <!-- Theme JS -->
    <script src="https://bitfire.co/dash/dashkit.min.js"></script>


    <script>
    </script>
  </body>
</html>
