<!-- HEADER -->
  <div class="header">
    <div class="container-fluid">

      <!-- Body 
      <div class="header-body">
      -->
        <div class="row align-items-end">
          <div class="left">
            <h6 class="header-pretitle" style="margin-top:.5rem;">
              {{%Urelease}} 
            </h6>
            
<div class="row {{showfree_class}}">
  <div class="col-12">
    <div class="card-body bg-info-soft mb-4" style="border: solid 1px #6e84a3; border-radius: 0.25rem;">
      <h3 class="card-header-title">File System is not locked</h3>
      <p>
        File Locking is our patented RASP technology which prevents any file modification by anyone who is not an authenticated administrator.
        <a href="https://bitfire.co/pricing" target="_blank" class="right mb-2" style="text-decoration: underline">
          Upgrade to BitFire PRO.
          <span class='fe fe-external-link'></span>
        </a>
      </p>

    </div>
  </div>
</div>
<div>{{plugin_alerts}}</div>

          </div>
        </div> <!-- / .row -->


        <!--
      </div>
    -->
    </div>
  </div>