<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="BitFire PHP server Firewall" />
    
    <!-- Favicon -->
    <link rel="shortcut icon" href="{{public}}/favicon.ico" type="image/x-icon"/>
    
    <!-- Libs CSS -->
    <link rel="stylesheet" href="{{public}}/vs2015.css" />
    <link rel="stylesheet" href="{{public}}/prism.css" />
    <link rel="stylesheet" href="{{public}}/theme.min.css" />
    <link rel="stylesheet" href="{{public}}/theme.bundle.css" />
    <link rel="stylesheet" href="{{public}}/feather.css" />
    
    <!-- Title -->
    <title>BitFire Dashboard</title>
    <style>body { font-size: 20px; } </style>

    <script src="{{public}}/underscore.min.js"></script>

  </head>
  <body>

    <!-- MAIN CONTENT -->
    <div class="main-content">
      {{maincontent}}
    </div>
    
    <!-- Vendor JS -->
    <!--
    <script src="{{public}}/vendor.bundle.min.js"></script>
    -->
    <script src="{{public}}/jquery-3.6.1.min.js"></script>
    <!--
    <script src="{{public}}/bootstrap.bundle.min.js"></script>
    -->
    <script src="{{public}}/chart.min.js"></script>
    <script src="{{public}}/difflib.js"></script>
    <script src="{{public}}/pako.js"></script>
    <script src="{{public}}/prism.js"></script>
    
    <script src="{{public}}/vendor.bundle.js"></script>
    <script src="{{public}}/theme.bundle.js"></script>
    <script src="{{public}}/dashkit.min.js"></script>


  </body>
</html>
